# Backend
backend/venv/
backend/models/tinyllama-1.1b-chat/
backend/models/tinyllama-cassava-finetuned/
backend/models/*.pth
backend/data/cassava-dataset/
backend/data/cassava-leaf-disease-classification.zip
backend/__pycache__/

# Kaggle artifacts
kaggle_dataset/
kaggle_output/
kaggle_kernel/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/
